.button {
  display: block;

  background-color: $blar;
  color: black;
  border: none;
  border-radius: 0.2rem;

  transition-duration: 200ms;
}

.button:hover {
  background-color: $appelsinugulur;
  color: white;
}



.card__button {
  width: 13rem;
  height: 2rem;
  margin-top: 2rem;
}

.card__button:hover {
  cursor: pointer;
}



.form__button {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.6rem 7rem;
}

.form__button:hover {
  cursor: pointer;
}



.product__button {
  height: 40px;

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  border-color: black;
  border-radius: 4px;
  background-color: lightgray;
}

.product__button:hover {
  cursor: pointer;
}

.product__button img{
  max-width: 1rem;
}
