
.flipcards {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  width: 100%;

  padding-top: 15px;
  padding-bottom: 15px;
}

.flipcard {
  padding-left: $gutter;
  padding-right: $gutter;
  padding-top: $gutter/2;
  padding-bottom: $gutter/2;
  transform-style: preserve-3d;
  transition: transform 0.2s linear;
}

.flipcard:hover {
  transform: rotateY(180deg);
}

.face {
  backface-visibility: hidden;
  
  
}

.face.flipcard__back {
  transform: rotateY(180deg);

}

.flipcard__img{
  width: 100%;
}

.flipcard__back {
  background-color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  margin-right: 8px;
}

.flipcard__title{
  font-size: 2rem;
  margin-bottom: 1rem;;
  
}

.flipcard__text{
  font-size:1rem;
  line-height: 1rem;

}

@media (min-width: 800px) {
  
  .flipcards {
    padding-left: $gutter/2;
    padding-right: $gutter/2;
    margin-bottom: 2rem;
  }
  .flipcard {
    width: 50%;
    padding-left: $gutter/2;
    padding-right: $gutter/2;
  }

}