

.form {
  padding-right: $gutter/2;
  padding-left: $gutter/2;
}

.form__title {
  font-size: 2rem;
  padding-top: 2rem;
}

.form__row {
  display: flex;
  padding-top: 20px;
}

.form__field {
  font-size: 1rem;
  width: 37%;
}

.form__input {
  border-color: black;
  border: 1px solid;
  border-radius: 4px;
  width: 8*40px;
  height: 40px;

}

.form__expiration {
  width: 320px;
  display: flex;
  justify-content: space-between;

}

.form__time {
  border-color: black;
  border-radius: 4px;

  height: 40px;
  padding-right: $gutter/2;
  padding-left: $gutter/2;

  font-size: 1rem;
}

@media (min-width: 800px) {

  .forms {
    display: flex;
  }

  .form {
    width: 50%;
  }

  .form__input {
    width: 220px;
  }

  .form__field {
    width:30%;
  }

  .form__expiration {
    justify-content: initial;
    justify-content: flex-start;
    margin-right: 32px;
  }
}

@media (min-width: 1200px) {

  .form__expiration {
    justify-content: flex-start;
  }
}