
.header {
  background-color: $appelsinugulur;
}

.header__title {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.header__nav {
  padding-top: 10px;
  text-decoration: none; 
}

.header__nav .nav__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 3rem;
  margin-left:3rem;
}

.header__nav .nav__item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
}

.nav__item:last-child {
  margin: 0 auto;
  display: flex;
  width: 100%;
  
}

.card__img {
  max-height: 1rem;
  padding-right: 0.3rem;
}
