
.header {
    background-color: $appelsinugulur;
    height: 120px;
}

.header__title {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.header__nav {
    padding-top: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 20%;
}

.header__nav .nav__list {
    display: flex;
    list-style: none;
}

.header__nav .list__item {
    flex: 1;
}


