
.text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: $gutter;
  margin-bottom: $gutter/2;
}

.text__card {
  padding-right: $gutter;
  padding-left: $gutter;
}

.text__card--switch {
  flex-direction: row-reverse;
}
.card__title {
  font-family: $Oswald-font;
  font-weight: 400;
  font-size: 2rem;
}

.card__content {
  font-size: 1.2rem;
}

.card__paragraph {
  margin-top: $gutter;
  line-height: 2rem;
}

.text__card a{
  width: 100%;
  max-width: 250px;
  text-decoration: none;
  display: inline-block;
  transition-timing-function: ease-in-out;
  color: black;
}

.text__card a:hover{
  color: white;
}

.card__image {
  width: 100%;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

.image__img {
  width: 100%;
}

@media (min-width: 800px) {

  .text {
    margin-bottom: initial;
  }

  .text__card {
    display: flex; 
  }
  .card__image {
    margin-top: 0;
    max-width: 40%; 
  }
  .card__paragraph {
    margin-left: 0rem;
    margin-right: 1rem;
    font-size: 1.5rem; 
  }
  .card__content {
    width: 100%;
    margin-top: 0; 
  }
  .text__card--switch .card__content {
    margin-left: 1.5rem; 
  } 

}

@media (min-width: 1200px) {

  .text__card {
    margin: initial;
    padding: initial;

    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .card__image {
    max-width: initial;
    padding: initial;

    width: 590px;

  }

  .card__content {
    margin: initial;

    width: 590px;
  }

}