
.text {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.text__card {
  margin: 10px;
}

.card__title {
  font-style: bold;
}

.card__content {

}

.card__button {

}

.card__image {
  width: 100%;
}

.image__img {
  width: 100%;
}